[user]
    email = michael@
    name = Michael Welter
    signingkey = ~/.ssh/id_ed25519.pub
[init]
    defaultBranch = main
[color]
    status = auto
    diff = auto
    interactive = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[alias]
    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset {%G?}' --abbrev-commit --date=relative
    staged = diff --cached
    unstage = reset HEAD --
    undo = reset --soft HEAD~1
    compare = "!f() { upstream=$(git symbolic-ref --quiet --short refs/remotes/origin/HEAD) || { printf '%s\\n' 'origin/HEAD is not configured' >&2; return 1; }; git --no-pager log \"$upstream..HEAD\" --abbrev-commit --pretty=oneline --date=relative; }; f"
    cleanup = "!f() { remote_default=$(git symbolic-ref --quiet --short refs/remotes/origin/HEAD) || { printf '%s\\n' 'origin/HEAD is not configured' >&2; return 1; }; default_branch=${remote_default#origin/}; git branch --format='%(refname:short)' --merged \"$default_branch\" | while IFS= read -r branch_name; do [ \"$branch_name\" = \"$default_branch\" ] || git branch -d -- \"$branch_name\"; done; }; f"
    amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
    last = log -1 HEAD
    email = config user.email
    sign = rebase --exec 'git commit --amend --no-edit -n -S'
[format]
    numbered = auto
[core]
    whitespace = trailing-space
    excludesfile = ~/.gitignore
[rerere]
    enabled = true
[repack]
    usedeltabaseoffset = true
[branch]
    autosetupmerge = always
    autosetuprebase = always
[merge]
    conflictstyle = zdiff3
[pager]
    color = true
    status = false
[push]
    default = current
    autoSetupRemote = true
[rebase]
    autosquash = true
[commit]
    gpgsign = true
    signoff = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[include]
    path = ~/.gitconfig.local
